@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-peach: #f6f3eaa3;
  --color-dark-bg-strong: #1E2326;
  --color-dark-bg-soft: #212b2d;
  --color-peach-nav: #f6f3ea;
  --color-peach-soft: #F6F2E7;
  --color-pink: #cf9389;
  --color-pink-soft: #FFE0D6;
  --color-grey-strong: #363D43;
  --color-grey-medium:#D2D6DB;
  --color-blue-green: #517879;
  --color-black: #262423;
  --color-tag-soft: #ECE3D7;
  --font-family: 'Hind', sans-serif;
}